SERVER_ADDR=:9900

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=chatx
POSTGRES_SSL=disable

AUTH_TOKEN_SECRET=your-secret-key
AUTH_TOKEN_ACCESS_TOKEN_TTL=15m
AUTH_TOKEN_REFRESH_TOKEN_TTL=24h

MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET=chatx
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
